USE [test2DB]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MADDH] [int] NOT NULL,
	[MANCC] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MANV] [varchar](4) NOT NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG_MATHANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG_MATHANG](
	[MADDH] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_DONDATHANG_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHOADON] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANHANVIEN] [varchar](4) NOT NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_MATHANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_MATHANG](
	[MAHD] [int] NOT NULL,
	[MAMH] [varchar](5) NOT NULL,
	[SOLUONGMUA] [int] NOT NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_HOADON_MATHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[SDT] [varchar](10) NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_MAT_HANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_MAT_HANG](
	[MALOAI] [varchar](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_LOAI_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAT_HANG]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAT_HANG](
	[MAMH] [varchar](5) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[GIABAN] [bigint] NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[MALOAI] [varchar](5) NOT NULL,
	[MOTA] [nvarchar](1000) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](5) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/18/2023 12:28:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANHANVIEN] [varchar](4) NOT NULL,
	[TENNHANVIEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[CMND_CCCD] [varchar](12) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](16) NOT NULL,
	[VOHIEUHOA] [bit] NOT NULL,
	[LAQUANLY] [bit] NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DON_DAT_HANG] ([MADDH], [MANCC], [NGAYDAT], [MANV]) VALUES (1017, N'NCC03', CAST(N'2022-01-10 00:00:00.000' AS DateTime), N'AD00')
INSERT [dbo].[DON_DAT_HANG] ([MADDH], [MANCC], [NGAYDAT], [MANV]) VALUES (1018, N'NCC06', CAST(N'2022-01-11 00:00:00.000' AS DateTime), N'AD00')
INSERT [dbo].[DON_DAT_HANG] ([MADDH], [MANCC], [NGAYDAT], [MANV]) VALUES (1019, N'NCC03', CAST(N'2022-01-11 00:00:00.000' AS DateTime), N'AD00')
INSERT [dbo].[DONDATHANG_MATHANG] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (1017, N'MT001', 50, 19950000)
INSERT [dbo].[DONDATHANG_MATHANG] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (1017, N'MT002', 50, 24975000)
INSERT [dbo].[DONDATHANG_MATHANG] ([MADDH], [MAMH], [SOLUONG], [DONGIA]) VALUES (1018, N'MT001', 20, 7980000)
INSERT [dbo].[HOA_DON] ([MAHOADON], [NGAYLAP], [MANHANVIEN], [MAKH]) VALUES (1139, CAST(N'2022-01-10 21:58:58.540' AS DateTime), N'AD00', 1004)
INSERT [dbo].[HOA_DON] ([MAHOADON], [NGAYLAP], [MANHANVIEN], [MAKH]) VALUES (1140, CAST(N'2022-01-10 23:11:15.600' AS DateTime), N'AD00', 1003)
INSERT [dbo].[HOA_DON] ([MAHOADON], [NGAYLAP], [MANHANVIEN], [MAKH]) VALUES (1141, CAST(N'2022-01-11 09:27:44.547' AS DateTime), N'AD00', 1008)
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1139, N'KE002', 4, 20000)
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1139, N'KE003', 4, 8000)
INSERT [dbo].[HOADON_MATHANG] ([MAHD], [MAMH], [SOLUONGMUA], [THANHTIEN]) VALUES (1139, N'KE005', 2, 10000)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (1001, N'Trấn Thành', N'Nam', N'0987654321', 0)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (1002, N'Trường Giang', N'Nam', N'0912345678', 0)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [GIOITINH], [SDT], [VOHIEUHOA]) VALUES (1003, N'Hoài Lâm', N'Nam', N'0975312385', 0)
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BANG', N'BẢNG', 0)
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BIA', N'BÌA', 0)
INSERT [dbo].[LOAI_MAT_HANG] ([MALOAI], [TENLOAI], [VOHIEUHOA]) VALUES (N'BUT', N'BÚT', 1)
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'B1002', N'BÌA MÀU A4', 2500, N'TO', N'BIA', N'Bìa màu a4 .', 0)
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'B1003', N'BÌA THƠM', 3000, N'TO', N'BIA', N'Khổ giấy A4 thơm', 0)
INSERT [dbo].[MAT_HANG] ([MAMH], [TENMH], [GIABAN], [DVT], [MALOAI], [MOTA], [VOHIEUHOA]) VALUES (N'B1004', N'BÌA NHỰA', 5000, N'TO', N'BIA', N'Nhựa PP không ung thư', 0)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC01', N'THIÊN LONG', N'Hồ Chí Minh', N'0934567748', N'thienlongT4B@gmail.com', 0)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC02', N'TRE VIỆT', N'Đồng Nai', N'0932567859', N'treviet59@gmail.com', 0)
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [VOHIEUHOA]) VALUES (N'NCC03', N'BÌNH MINH', N'Đồng Nai', N'0932567859', N'binhminh@gmail.com', 0)
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'AD00', N'Trần Minh Hoàng', N'Bình Dương', N'0285756471', N'Nam', CAST(N'2003-02-02 00:00:00.000' AS DateTime), N'127883222', N'admin', N'1', 0, 1)
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'NV01', N'Nguyễn Tú', N'Khánh Hòa', N'0912387612', N'Nam', CAST(N'2001-02-18 00:00:00.000' AS DateTime), N'125874342', N'nguyentu', N'nguyentu', 0, 0)
INSERT [dbo].[NHAN_VIEN] ([MANHANVIEN], [TENNHANVIEN], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [CMND_CCCD], [TENDANGNHAP], [MATKHAU], [VOHIEUHOA], [LAQUANLY]) VALUES (N'NV02', N'Cam Thảo', N'Đồng Tháp', N'0912374571', N'Nữ', CAST(N'2001-02-24 00:00:00.000' AS DateTime), N'125874343', N'camthuy', N'camthuy', 0, 1)
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_MATHANG_DON_DAT_HANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MADDH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK_DONDATHANG_MATHANG_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_MATHANG_MAT_HANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[DONDATHANG_MATHANG] CHECK CONSTRAINT [FK_DONDATHANG_MATHANG_MAT_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MATHANG_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHOADON])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK_HOADON_MATHANG_HOA_DON]
GO
ALTER TABLE [dbo].[HOADON_MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MATHANG_MAT_HANG] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAT_HANG] ([MAMH])
GO
ALTER TABLE [dbo].[HOADON_MATHANG] CHECK CONSTRAINT [FK_HOADON_MATHANG_MAT_HANG]
GO
ALTER TABLE [dbo].[MAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_MAT_HANG_LOAI_MAT_HANG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_MAT_HANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MAT_HANG] CHECK CONSTRAINT [FK_MAT_HANG_LOAI_MAT_HANG]
GO
